* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.md text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.j2 text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.pdf binary
*.pkl binary
*.parquet binary
*.joblib binary